extends layout
block content

    div.card.termsCard
        div.card-header
            img(src=selfURL+"/images/"+host+".png",alt="Logo")
        div.card-body
            form(id="consent",action="",method="POST")
                div.form-group
                    h3(class="card-title") Terms of use
                div
                    include terms.pug
                div.form-group
                    input(type="hidden",name="challenge",value=challenge)
                    input(type="hidden",name="_csrf",value=csrfToken)
                    input(type="hidden",id="referer",name="referer",value=referer)
                    input(type="hidden",id="remember",name="remember",value="1")
                    each scope in requested_scope
                        input(type="hidden",id=scope,value=scope,name="grant_scope")
                       
                div.form-group
                div.form-group
                    div.row
                        div.col
                            input(type="submit",id="reject", class="btn btn-secondary btn-block" , name="submit",value="Decline")
                        div.col
                            input(type="submit",id="accept", class="btn btn-primary btn-block" ,   name="submit",value="Accept terms")
                div.row
                    div.col
                        p(style="text-align:center;").
                            <a href="#{client.policy_uri}">Policy</a>
                    
    div.footer
        div
            span © 2021 Ava Monitoring
            
    script
        include /scripts/consent.js
        
