extends layout

block content
    h1 An application requests access to your data!
    form(action="",method="POST")
        input(type="hidden",name="challenge",value=challenge)
        input(type="hidden",name="_csrf",value=csrfToken)

        p.
            Hi #{user}, application #{client.client_name} wants access resources on your behalf and to:

        each scope in requested_scope
            input(type="checkbox",id=scope,value=scope,name="grant_scope")
            label(for=scope) #{scope}
            br

        p
            input(type="submit",name="submit",value="Allow access")
            input(type="submit",name="submit",value="Deny access")