extends layout

block content
    h1(id="login-title") Please input User Code
    if error
        p.
            #{error}
    form(action=action, method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="challenge", value=challenge)
        input(type="code", id="code", name="code", value=userCode, placeholder="XXXXXX")
        br
        input(type="submit", id="verify", name="submit", value="Send")
