extends layout

block content

    div.card
        div.card-header
            img(src=selfURL+"/images/avanet.png",alt="Logo")
        div.card-body
            form(action="/kratos",method="POST")
                div.form-group
                    input(type="hidden",name="referer",value=referer)
                    input(type="hidden",name="challenge",value=challenge)
                    input(type="hidden",name="flow",value=flow)
                    input(type="hidden",name="csrf_token",value=csrfToken)
                    input(type="hidden",name="_csrf",value=_csrf)
                    input(type="hidden",name="csrf_cookie",value=csrfCookie)
                div.form-group
                    h3(class="card-title") Sign in
                if error
                    div(class="alert alert-danger")
                      h4(class="alert-heading") 
                        <i class="fa fa-warning"></i> 
                        | Error!
                      hr
                      each val in error_message
                          p= val
                div.form-group
                    label(for="identifier") Your email
                    input(type="email",class="form-control",id="identifier",name="identifier",placeholder="Email",required)
                div.form-group(class="pass_show")
                    label(for="password") Your password
                    a(href="/recover?referer="+referer,style={float: 'right'}) Forgot password?
                    input(type="password",class="form-control",id="password",name="password",placeholder="********",value="",maxLength="16",required)
                div.form-group      
                    input(type="submit",id="accept",class="btn btn-primary btn-block",name="submit",value="Sign in")

    div.footer
        div
            span © 2021 Ava Monitoring
            
    script
        include /scripts/login.js
        
    script.
        window.onload = function(e){ 
            timeRefresh("!{referer}", !{loginTimeout} * 1000);
        }
      
