extends layout

block content
    h1(id="login-title") Please log in
    if error
        p.
            #{error}
    a(href="https://saml.quadrio-dev-foerderlotse.de/login") Login with Bürgerkonto (SAML) 
    form(action=action, method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="challenge", value=challenge)
        table(style="")
            tr
                td
                    input(type="text", id="email", name="email", value=hint, placeholder="username")
                td.
                    (it's "antragsteller1", "antragsteller2", ..., "antragsteller20", "ministerium" ,"bewilligungsstelle", "kommune", 'mieter')
            tr
                td
                    input(type="password", id="password", name="password")
                td.
                    (it's empty)
        input(type="checkbox", id="remember", name="remember", value="1")
        label(for="remember") Remember me
        br
        input(type="submit", id="accept", name="submit", value="Log in")
