extends layout

block content
    h1 Please log in
    if error
        p.
            #{error}
    form(action="/kratos",method="POST")
        
        input(type="hidden",name="challenge",value=challenge)
        input(type="hidden",name="request",value=request)
        input(type="hidden",name="csrf_token",value=csrfToken)
        input(type="hidden",name="_csrf",value=_csrf)
        input(type="hidden",name="csrf_cookie",value=csrfCookie)
        
        table(style="")
            tr
                td
                    input(type="email",id="identifier",name="identifier")
                td.
                    (it's "foo@bar.com")
            tr
                td
                    input(type="password",id="password",name="password")
                td.
                    (it's "foobar")
        input(type="checkbox",id="remember",name="remember",value="1")
        label(for="remember") Remember me
        br
        input(type="submit",id="accept",name="submit",value="Log in")
        input(type="submit",id="reject",name="submit",value="Deny access")
