extends layout

block append head
    script(src=selfURL+"/scripts/PasswordValidatorv2.js")

block content
         
    div.card
        div.card-header
            img(src=selfURL+"/images/avanet.png",alt="Logo")
        div.card-body
            if success
                div(class="alert alert-success")
                    h4(class="alert-heading")
                        <i class="fa fa-check"></i>
                        | Success!
                    hr
                    p Your password was successfully changed. You can now sign in using your new passwords.
                div.form-group
                    a(href=loginUrl)
                        button(class="btn btn-primary btn-block") Sign in
            else            
                form(action="/password/set",method="POST")
                    div.form-group
                        input(type="hidden",name="session",value=session)
                        input(type="hidden",name="flow",value=flow)
                        input(type="hidden",name="csrf_token",value=csrfToken)
                        input(type="hidden",name="_csrf",value=_csrf)
                        input(type="hidden",name="csrf_cookie",value=csrfCookie)
                    div.form-group
                        h3(class="card-title") Change password
                    if error
                        div(class="alert alert-danger")
                            h4(class="alert-heading") 
                                <i class="fa fa-warning"></i> 
                                | Error!
                            hr
                            p #{error_message}
                    div.form-group(class="pass_show")
                        label(for="password") New password
                        input(type="password",class="form-control validate",id="password1",name="password",placeholder="********",value="",maxLength="16")
                    div.form-group(class="pass_show")
                        label(for="confirm") Confirm password
                        input(type="password",class="form-control verify",id="verify1",name="confirm",placeholder="********",value="",maxLength="16")
                    div.form-group      
                        input(type="submit",id="accept",class="btn btn-primary btn-block",name="submit",value="Change password")

    div.footer
        div
            span © 2021 Ava Monitoring
            
    script
        include /scripts/password.js
