extends layout


block content
        
    div.card
        div.card-header
            img(src=selfURL+"/images/avanet.png",alt="Logo")
        if success
            div.card-body
                form
                    div(class="alert alert-success")
                        h4(class="alert-heading") 
                            <i class="fa fa-check"></i> 
                            | Success!
                        hr
                        ul(class="instructions")
                            li Check your email for a password reset mail. Please allow for a few minutes for the mail to be delivered. If not found, check your spam folder.
                            li If an email was found, follow the instructions in the email. 
                            li The link in the email will only be <strong>valid for #{recoveryLifespan} hours</strong>.
                            li If no email was found, please contact AVA Support as indicated below
            div.card-footer
                div.form-group
                    h5 Contact us 
                    a(href='mailto:support@avamonitoring.com') support@avamonitoring.com
                
        else
            div.card-body
                form(id="form1",action="/recover",method="POST")
                    div.form-group
                        input(type="hidden",name="flow",value=flow)
                        input(type="hidden",name="csrf_token",value=csrfToken)
                        input(type="hidden",name="_csrf",value=_csrf)
                        input(type="hidden",name="csrf_cookie",value=csrfCookie)
                    div.form-group
                        h4(class="card-title") Forgot your password?
                    if error
                        div(class="alert alert-danger")
                            h4(class="alert-heading") 
                                <i class="fa fa-warning"></i> 
                                | Error!
                            hr
                            each val in error_message
                                p= val

                    div(class="alert alert-info")
                        h4(class="alert-heading") 
                            <i class="fa fa-info"></i> 
                            | Important!
                        hr
                        p When submitting this form, you will receive a password reset link by email. The link will only valid for #{recoveryLifespan} hours.
                    div.form-group
                        label(for="identifier") Your email
                        input(type="email",class="form-control",id="identifier",name="identifier",placeholder="Email",required)
                        input(type="hidden",name="method",value="link")
                    div.form-group     
                        input(type="submit",id="submit",class="btn btn-primary btn-block",name="submit",value="Reset password")
                        input(type="submit",id="cancel",class="btn btn-secondary btn-block",name="cancel",value="Back to login",onclick="history.back();")

    div.footer
        div
            span © 2021 Ava Monitoring
